### Python pandas library - storing and manipulating data in "dataframes" (tables)

In [1]:
import pandas as pd

### Reading from CSV file into dataframe

In [2]:
f = open('Cities.csv')
cities = pd.read_csv(f)
cities

# Note no "print" needed

             city         country  latitude  longitude  temperature
0         Aalborg         Denmark     57.03       9.92         7.52
1        Aberdeen  United Kingdom     57.17      -2.08         8.10
2          Abisko          Sweden     63.35      18.83         0.20
3           Adana          Turkey     36.99      35.32        18.67
4        Albacete           Spain     39.00      -1.87        12.62
5       Algeciras           Spain     36.13      -5.47        17.38
6          Amiens          France     49.90       2.30        10.17
7       Amsterdam     Netherlands     52.35       4.92         8.93
8          Ancona           Italy     43.60      13.50        13.52
9         Andorra         Andorra     42.50       1.52         9.60
10         Angers          France     47.48      -0.53        10.98
11         Ankara          Turkey     39.93      32.86         9.86
12        Antalya          Turkey     36.89      30.70        11.88
13           Arad         Romania     46.17      21.32         9.32
14         Athens          Greece     37.98      23.73        17.41
15       Augsburg         Germany     48.35      10.90         4.54
16          Bacau         Romania     46.58      26.92         7.51
17        Badajoz           Spain     38.88      -6.97        15.61
18      Baia Mare         Romania     47.66      23.58         8.87
19          Balti         Moldova     47.76      27.91         8.23
20      Barcelona           Spain     41.38       2.18        15.78
21           Bari           Italy     41.11      16.87        15.15
22          Basel     Switzerland     47.58       7.59         6.68
23         Batman          Turkey     37.89      41.14        14.16
24        Belfast  United Kingdom     54.60      -5.96         8.48
25       Belgrade          Serbia     44.82      20.47         9.85
26        Bergamo           Italy     45.70       9.67         9.12
27         Bergen          Norway     60.39       5.32         1.75
28         Berlin         Germany     52.52      13.40         8.72
29      Bialystok          Poland     53.15      23.17         6.07
..            ...             ...       ...        ...          ...
183         Split         Croatia     43.52      16.47        12.46
184  Stara Zagora        Bulgaria     42.42      25.62        10.90
185     Stavanger          Norway     58.97       5.68         5.53
186     Stockholm          Sweden     59.35      18.10         6.26
187          Sumy         Ukraine     50.92      34.78         6.28
188       Swansea  United Kingdom     51.63      -3.95         9.73
189        Szeged         Hungary     46.25      20.15        10.34
190       Tallinn         Estonia     59.43      24.73         4.82
191       Tampere         Finland     61.50      23.75         3.59
192        Tarsus          Turkey     36.92      34.88        11.21
193         Tartu         Estonia     58.38      26.71         4.36
194      Tekirdag          Turkey     40.99      27.51        13.02
195      Toulouse          France     43.62       1.45        10.25
196       Trabzon          Turkey     40.98      39.72        10.28
197       Trieste           Italy     45.65      13.80        11.21
198       Trikala          Greece     39.56      21.77        16.00
199     Trondheim          Norway     63.42      10.42         4.53
200         Turku         Finland     60.45      22.25         4.72
201       Uppsala          Sweden     59.86      17.64         4.17
202      Valencia           Spain     39.49      -0.40        16.02
203        Vienna         Austria     48.20      16.37         7.86
204          Vigo           Spain     42.22      -8.73        12.85
205       Vilnius       Lithuania     54.68      25.32         5.38
206        Warsaw          Poland     52.25      21.00         7.20
207       Wroclaw          Poland     51.11      17.03         7.17
208   Yevpatoriya         Ukraine     45.20      33.36        10.02
209      Zaragoza           Spain     41.65      -0.89        14.17
210      Zhytomyr         Ukraine     50.25      28.66         6.67
211     Zonguldak          Turkey     41.43      31.78        10.64
212        Zurich     Switzerland     47.38       8.56         6.68

[213 rows x 5 columns]

In [ ]:
# Number of rows
len(cities)

In [ ]:
len(cities.columns)

In [ ]:
# First few rows
cities.head(10)

In [ ]:
# Last 20 rows
cities.tail(20)

In [ ]:
# Statistics for numeric columns
cities.describe()

### Sorting, selecting rows and columns

In [ ]:
# Sorting by country then descending temperature
cities.sort_values(by=['country','temperature'],ascending=[True,False])

In [ ]:
# Selecting a single column - returns a 'series'
cities.city

# Also show cities['temperature']

In [ ]:
cities[['city']]

In [ ]:
cities[['city', 'temperature']]

In [ ]:
# Selecting multiple columns - returns a dataframe
cities[['city','temperature']]

In [ ]:
cities[(cities.longitude < 0)]

In [ ]:
# Selecting rows based on condition
cities[(cities.longitude < 0)]

In [ ]:
# Selecting rows by number
cities[15:20]
# Show cities[:8] and cities[200:]

In [ ]:
cities[:8]

In [ ]:
cities[200:]

In [ ]:
# Putting it together: selecting rows, selecting columns, sorting
# Name and longitude of all cities with latitude > 50 and temperature > 9,
# sorted by latitude
temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)]
temp2 = temp1[['city','temperature', 'latitude']]
temp2.sort_values(by='temperature')
# Show combining first two, then combining all (use \ for long lines)
# Note similar functionality to SQL

### <font color="green">Your Turn</font>

In [ ]:
# Read the Countries.csv file into a dataframe.
# Print a list of all countries that don't have coastline and
# are not in the EU, together with their highest points.
# List should be in alphabetical order.

f = open('Countries.csv')
countries = pd.read_csv(f)
countries[(countries.EU == 'no') & (countries.coastline == 'no')] \
[['country', 'highest']].sort_values(by='country')

### Aggregation

In [ ]:
# Minimum and maximum
print 'Minimum temperature:', min(cities['temperature'])
print 'Maximum temperature:', max(cities['temperature'])

In [ ]:
# Average temperature of cities in France, computed two ways
french = cities[(cities.country == 'France')]
print 'Computed as sum/count:', sum(french['temperature'])/len(french['temperature'])
print 'Computed as mean:', french['temperature'].mean()

In [ ]:
# Average temperature of cities in each country
cities.groupby('country').mean()[['temperature']]
# or with single brackets ['temperature'] or .temperature
# Also show without column selection

In [ ]:
# Average temperature of cities in each country
cities.groupby('country').mean()['temperature']
# or with single brackets ['temperature'] or .temperature
# Also show without column selection

### <font color="green">Your Turn</font>

In [ ]:
# Average highest point of countries in the EU and not in the EU,
# then average highest point of countries with and without coastline
# Note: When there's more than one "query" you only see the last result.
# Try using print
print countries.groupby('EU').mean()[['highest']]
print countries.groupby('coastline').mean()[['highest']]

### Joining

In [ ]:
cityext = cities.merge(countries, on='country')
cityext

In [ ]:
# Joining is symmetric
countryext = countries.merge(cities, on='country')
countryext

### Miscellaneous features

In [ ]:
# String operations - countries with 'ia' in their name
countries[(countries.country.str.contains('ia'))]

In [ ]:
# Plotting
import matplotlib
%matplotlib inline
cities.plot.scatter(x='latitude', y='temperature')

In [ ]:
# Add temp-fahrenheit column
cities['temp-fahrenheit'] = (cities.temperature * 9/5) + 32
cities

### <font color="green">Your Turn: World Cup data</font>

In [ ]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
players = pd.read_csv(f)
f = open('Teams.csv')
teams = pd.read_csv(f)

In [ ]:
# What player on a team with “ia” in the team name played less than
# 200 minutes and made more than 100 passes? Print the player surname.

players[(players.team.str.contains('ia')) & (players.minutes > 200) & (players.passes > 100)][['surname']]

In [21]:
# What is the average number of passes made by defenders? By forwards?
players[(players.position == 'defender')].mean()[['passes']]

passes    102.643617
dtype: float64

In [ ]:
# Which team has the highest ratio of goalsFor to goalsAgainst?
# Print the team name only.
# Hint: Add a "ratio" column to the teams dataframe, then sort,
# then use head(1) or tail(1) depending how you sorted

In [ ]:
# How many players on a team with ranking <10 played more than 350 minutes?
# Reminder: len() gives number of rows i a dataframe

In [ ]:
# BONUS!
# Write a loop that interactively asks the user to enter a team name.
# If the team exists, list all of the players on that team
# (with all of their information), sorted by descending minutes played.
# If the team doesn't exist, print "Team not in 2010 World Cup".
# If 'quit' is entered, terminate the loop.
# Reminder: To read a string from the user instead of a number, use
# raw_input() instead of input()
# Note: To test if a value v is (not) in a column c of a dataframe D,
# use "v (not) in D['c'].values"